---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
        exclude_types:
          - jupyter
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args:
          - --pytest-test-first
      - id: no-commit-to-branch
      - id: pretty-format-json
        exclude_types:
          - jupyter
        args:
          - --autofix
          - --indent=4
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        files: \.(ipynb|py)$
        args:
          - --py310-plus

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.0
    hooks:
      - id: isort
        additional_dependencies:
          - toml
        exclude: ^.*/?setup\.py$
        args:
          - --profile
          - black

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-future-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.10.0'
    hooks:
      - id: mypy
        additional_dependencies:
          - sqlalchemy[mypy]==1.4.48
          - types-pytz==2023.3.0.0
          - types-requests==2.31.0.1
          - types-tqdm==4.65.0.1
          - pandas-stubs==2.0.2.230605
          - types-tabulate==0.9.0.2
          - types-PyYAML==6.0.12.12

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --strict

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          - --exclude-files
          - alembic/.*$
